DB_HOST=localhost
DB_PORT=5432
DB_NAME=mailgw
DB_USER=postgres
DB_PASSWORD=yourpassword
REDIS_URL=redis://redis:6379/0

API_KEY=super-secret-key

SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USERNAME=mailer@company.com
SMTP_PASSWORD=your-password
SMTP_FROM=mailer@company.com

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1